@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;

@import "../../../shared/style/mixins";

.Footer {
  padding: 15px 25px;
  height: 350px;
  background: c.$black;
}
