@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;

@import "../../../shared/style/mixins";

.ItemsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  background: c.$white;
}
