@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;

@import "../../../shared/style/mixins";

.BannersGrid {
  display: grid;
  padding: 0 10vw;
  background: c.$white;
  gap: 25px;
  grid-template:
    "a a b c" 15vw
    "d d e f" 15vw;
}

.Image {
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &:nth-child(5) {
    grid-area: e;
  }
  &:nth-child(6) {
    grid-area: f;
  }
}
