@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;

@import "../../../shared/style/mixins";

.ItemCard {
  width: 100%;
  background: c.$white;
  cursor: pointer;
  transition: box-shadow 0.25s;
  position: relative;

  &:active {
    background: c.$gray-light;
  }

  &:hover {
    box-shadow: 0 0 15px c.$black;
  }
}

.Skeleton {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(75deg, c.$gray-light, c.$gray-light, c.$white, c.$gray-light, c.$gray-light);
  background-size: 200% 100%;
  animation: loading 1s linear infinite;
}

.Image {
  height: 250px;
}

.Info {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Name {
  @include Text_Black(20px);

  font-weight: 700;
}

.Price {
  @include Text_Gray(16px);

  margin-left: 10px;
}

.SaleMark {
  @include Text_White(20px);

  position: absolute;
  top: 0;
  right: 0;
  background: c.$red;
  padding: 10px 20px;
}

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}
