@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;

@import "../../../shared/style/mixins";

.ItemsBanner {
  width: 100%;
  height: 300px;
  display: flex;
  padding: 25px 125px;
  display: flex;
  align-items: end;
  justify-content: start;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.Text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Title {
  @include Text_Black(24px);
  font-weight: 800;
}

.Description {
  @include Text_Gray(16px);
  width: 60vw;
}
