@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;

@import "../../../shared/style/mixins";

.DisplayCase {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: c.$white;
}

.Title {
  @include Text_Black(24px);
}

.Wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}
